@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #0d3e69;
  --color-2: #4A6D92;
  --color-3: #7E94AB;
  --color-4: #8BA45C;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: var(--color-1);
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: var(--color-2);
  margin-bottom: 40px;
}

.storeCard {
  background-color: var(--color-3);
}

.search-input {
  color: black;
}

.info-card {
  min-height: 430px;
}